ion-avatar{
    width: 140px;
    height: 140px;
    margin: 0 auto;
}

.photo-btn{
    position: relative;
    bottom: 25px;
}

h2::first-letter{
    text-transform: uppercase;
}

ion-item{
    padding-top: 15px;
}