#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.portada-container{
  margin: auto;
  width: 90%;
  height: auto;   
  margin-top: 80px;
  max-width: 700px;
}

.ejemplos-container{
  height: 700px;
}

.portada-sub-titulo{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  text-align: center;
}