<ion-content [fullscreen]="true" >
  <app-header [page]="'escaner'"></app-header>
  <ion-infinite-scroll>
    <div class="flex-center ion-margin">
        <img class="imagen-container ion-margin" src="{{urlImagen}}">
        <input style="display: none;" type="file" accept="image/*" (change)="uploadImage($event)" name="file" id="imagen-scan">
        <ion-button class="ion-margin">
          <ion-icon slot="start" name="camera"></ion-icon>
          Usar la camara</ion-button>
        <ion-button class="ion-margin">
          <ion-icon slot="start" name="image"></ion-icon>
          <label for="imagen-scan">Elegir desde la galeria</label>
        </ion-button>
        <div>{{nombreArchivo}}</div>
    </div>
    <div class="flex-center ion-margin-bottom" *ngIf="nombreArchivo !== 'Sin seleccionar'">
      <ion-button class="ion-margin" class="ion-margin-bottom" color="success" (click)="processImage()">Procesar Imagen</ion-button>
      <ion-card *ngIf="scannedText">
        <ion-card-header>
          Resultado
        </ion-card-header>
        <ion-card-content>
          {{ scannedText }}
        </ion-card-content>
      </ion-card>
    </div>
  </ion-infinite-scroll>
</ion-content>