<ion-content [fullscreen]="true" >
  <app-header [page]="'escaner'"></app-header>
  <ion-infinite-scroll>
    <div class="flex-center ion-margin">
        <img class="imagen-container ion-margin" src="{{urlImagen}}">
        <ion-button class="ion-margin" (click)="takeImage()">
          <ion-icon slot="start" name="camera"></ion-icon>
          Seleccionar una imagen
        </ion-button>
        <ion-text *ngIf="!seleccionado" color="danger">Sin seleccionar</ion-text>
        <ion-text *ngIf="seleccionado" color="success">Imagen obtenida con exito!</ion-text>
    </div>
    <div class="flex-center ion-margin-bottom" *ngIf="seleccionado">
      <ion-button class="ion-margin" class="ion-margin-bottom" color="success" (click)="processImage()">Escanear Imagen <ion-icon name="checkmark-circle-outline"></ion-icon></ion-button>
      <ion-card *ngIf="scannedText">
        <ion-card-header>
          Resultado
        </ion-card-header>
        <ion-card-content>
          {{ scannedText }}       
        </ion-card-content>
        <ion-card-header>
          Texto traducido:
        </ion-card-header>
        <ion-card-content>
          {{ mensajeTraducido }}
        </ion-card-content>
      </ion-card>
      <ion-button *ngIf="!guardado" (click)="guardarImagen()" class="ion-margin center" color="warning">Guardar</ion-button>
    </div>
  </ion-infinite-scroll>
</ion-content>